{{ define "main" }}
{{ "<!-- Hexagon Stylesheet -->" | safeHTML }}
{{ $hexagons := resources.Get "css/hexagon.css" | minify }}
<link rel="stylesheet" href="{{ $hexagons.Permalink | relURL}}">

{{ "<!-- Index -->" | safeHTML }}
{{ $index := resources.Get "css/index.css" | minify }}
<link rel="stylesheet" href="{{ $index.Permalink | relURL}}">
{{ $data := index .Site.Data .Site.Language.Lang }}

<section class="hero is-medium">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-1">{{ .Params.banner.title | safeHTML }}</h1>
            <h2 class="subtitle is-3">{{ .Params.banner.intro | safeHTML }}</h2>
        </div>
    </div>
</section>

{{ if .Params.competences.enable }}

<section class="section has-background-dark">
    <div class="container">
        <h1 class="title has-text-centered has-text-white">{{ $data.data.trad.home.cp }}</h1>
        <div class="tile is-ancestor">
            <div class="tile is-6">
                <div class="tile is-vertical">
                    <div class="tile is-parent">
                        <div class="tile is-child box is-light">
                            <p>
                                {{ .Params.competences.tiles.tile_1.text | markdownify }}
                            </p>
                        </div>
                    </div>
                    <div class="tile">
                        {{ range .Params.competences.tiles.tiles_1 }}
                        <div class="tile is-parent">
                            <div class="tile is-child notification {{ .color }}">
                                {{ .text | markdownify }}
                            </div>
                        </div>
                        {{ end}}
                    </div>
                </div>
            </div>
            <div class="tile is-3">
                <div class="tile is-vertical is-parent">
                    <div class="tile is-child box">
                        <p>
                            {{ .Params.competences.tiles.tile_2.text | markdownify }}
                        </p>
                    </div>
                    {{ range .Params.competences.tiles.tiles_2 }}
                    <div class="tile is-child notification {{ .color }}">
                        {{ .text | markdownify}}
                    </div>
                    {{ end }}
                </div>
            </div>
            <div class="tile is-parent is-3">
                <div class="tile is-child box">
                    <p> {{ .Params.competences.tiles.tile_3.text | markdownify}} </p>
                </div>
            </div>
        </div>
    </div>
</section>

{{ end }}

{{ if .Params.about.enable }}

<section class="section">
    <div class="container">
        <h1 class="title has-text-centered">{{ $data.data.trad.home.about.title }}</h1>
        <ul id="hexGrid">
            {{ range .Params.about.education }}
            <li class="hex">
                <div class="hexIn">
                    <div class="hexLink">
                        <img src="{{ .img }}" alt="{{ .name }}" />
                        <div style="all:unset">
                            <h1> {{ .name}}</h1>
                        </div>
                        <div style="all:unset">
                            <p> {{ .sub}}</p>
                        </div>
                    </div>
                </div>
            </li>
            {{ end }}    
        </ul>
        <div class="buttons is-centered">
            <a class="button" href="{{ .Params.about.resume.url }}"> {{ .Params.about.resume.title }}</a>
        </div>
    </div>
</section>

{{ end }}

{{ if .Params.projects.enable }}

<section class="section">
    <div class="container">
        <h1 class="title has-text-centered">{{ $data.data.trad.home.pro.title }}</h1>
        <div class="columns is-multiline is-centered">
            {{ range where .Site.RegularPages "Title" "in" .Params.projects.list }}
            <div class="column is-one-third">
                {{- partial "project_mini.html" . -}}
            </div>
            {{ end }}
        </div>
        <div class="has-text-centered">
            <a href="/{{ $.Site.Language }}/projets" class="button is-info">{{ $data.data.trad.home.pro.more }}</a>
        </div>
    </div>
</section>

{{ end }}


<section class="section">
    <div class="container has-background-light">
        <div class="form-contact">
            <h1 class="title has-text-centered">{{ $data.data.trad.home.con }}</h1>

            <form class="form" action="{{.Params.contact.formAction}}" method="post">
                <div class="field is-horizontal">
                    <label class="field-label has-text-centered" for="name"> {{ $data.data.trad.home.form.Na }} </label>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input class="input" name="name" id="name" type="text"
                                    placeholder="{{ $data.data.trad.home.form.ExNa }}">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <label class="field-label has-text-centered" for="name"> {{ $data.data.trad.home.form.E }} </label>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input class="input" name="email" id="email" type="text"
                                    placeholder="{{ $data.data.trad.home.form.ExMail }}">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <label class="field-label has-text-centered" for="name"> {{ $data.data.trad.home.form.M }} </label>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <textarea class="textarea" name="message" id="message" rows="5"
                                    placeholder="{{ $data.data.trad.home.form.Mex }}"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="has-text-centered">
                    <button class="button is-primary is-light">{{ $data.data.trad.home.form.Sub }}</button>
                </div>
            </form>
        </div>
    </div>
</section>

{{ end }}