{{ $data := index .Site.Data .Site.Language.Lang }}
<!-- footer -->

<footer class="footer">
  <div class="container">
    <div class="level">
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">{{ $data.data.trad.footer.mail }}</p>
          <a href="mailto:{{.Site.Params.footer.email}}" class="title">{{.Site.Params.footer.email}}</a>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">{{ $data.data.trad.footer.Free }}</p>
          <a class="title" href="{{.Site.Params.footer.malturl}}">{{.Site.Params.footer.malt}}</a>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">{{ $data.data.trad.footer.Linkedin }}</p>
          <a href="{{.Site.Params.footer.linkedin}}" class="title">{{.Site.Params.footer.linkedin}}</a>
        </div>
      </div>
    </div>
    <div class="content has-text-centered">
      <p><i class="far fa-copyright"></i> {{ $data.data.trad.footer.Copyright }} <i class="fas fa-heart"></i> </p>
    </div>
  </div>
</footer>


{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range .Site.Params.plugins.js}}
<script src="{{ .URL | absURL }}"></script>
{{ end }}