<script>
    $(document).ready(function() {
    $(".navbar-burger").click(function() {
        $(".navbar-burger").toggleClass("is-active");
        $(".navbar-menu").toggleClass("is-active");
});
});
</script>

<nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="/img/logo/logo-1.png" width="50" height="50">
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
            data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
        </div>

        <div class="navbar-end">
            {{ range .Site.Menus.main }}
            <a class="navbar-item" href="/{{ $.Site.Language }}/{{ .URL }}">
                {{ .Name }}
            </a>
            {{ end }}
            <div class="navbar-item">
                {{ range .Site.Languages -}}
                {{ if ne .LanguageName $.Site.Language.LanguageName }}
                <div class="buttons">
                    <a href="/{{ .Lang }}" class="button">
                        <strong>{{ .LanguageName }}</strong>
                    </a>
                </div>
                {{end}}
                {{end}}
            </div>
        </div>
    </div>
</nav>
{{ template "_internal/google_analytics.html" . }}