{{ $data := index .Site.Data .Site.Language.Lang }}

<div class="card">
    <div class="card-image">
        <div class="image">
            <img src="{{.Params.preview}}">
        </div>
    </div>
    <div class="card-header">
        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    <h2 class="card-header-title"> {{ .Title }} </h2>
                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    <span class="tag is-info">{{.Params.categories}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="card-content">
        <div class="content">
            <p>{{.Params.description}}</p>
        </div>
    </div>
    <div class="card-footer">
        <a href="{{.Permalink | relURL}}" class="card-footer-item">{{ $data.data.trad.home.pro.read }}</a>
    </div>
</div>