{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}

{{ partial "page-title.html" . }}

<section class="section">
    <div class="container">
        <div class="columns is-multiline is-centered">
            {{ range .Data.Pages.ByPublishDate }}

            <div class="column is-one-third">
                {{- partial "project_mini.html" . -}}
            </div>
            {{ end }}
        </div>
    </div>
</section>

{{ end }}