{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}

<style>
  img.skills{
    height: 80px;
  }
</style>

<section class="section">
  <div class="container">
    <h1 class="title has-text-centered">{{ .Title }} </h1>
    <p class="has-text-centered"> {{ .Params.description }}</p>
    <div class="level">
      <div class="level-item">
        <p class="has-text-centered">{{ $data.data.trad.page.pub }} {{ .PublishDate.Format "Jan 02, 2006" }}</p>
      </div>
      <div class="level-item">
        <p class="has-text-centered">{{ $data.data.trad.page.red }}: {{ math.Round (div (countwords .Content) 220.0) }}
          minutes.</p>
      </div>
    </div>

    {{ if .Params.gitlab }}
    {{if ( gt (len .Params.gitlab ) 1)}}
    <div></div>
    {{else if ( gt (len .Params.gitlab ) 0)}}
    <div class="has-text-centered">
      <a class="button" href="{{index (.Params.gitlab) 0}}">
        <span class="icon">
          <i class="fab fa-gitlab"></i>
        </span>
        <span>Gitlab</span>
      </a>
    </div>
    {{ end }}
    {{ end }}

    <hr class="full-width">

    {{if isset .Params "tech"}}
    {{if (gt (len .Params.tech) 0)}}

    <h2 class="subtitle has-text-centered">{{ $data.data.trad.page.built }}</h2>

    <div class="columns is-centered">
      {{ range .Params.tech }}
      <div class="column is-one-third has-text-centered">
        <a href="{{.url}}">
          <img class="skills" src="{{.logo}}" alt="{{.name}}" loading="lazy" style="cursor: pointer">
        </a>
      </div>
      {{ end }}
    </div>
    <hr class="full-width">
    {{ end }}
    {{ end }}

    <div class="content">
      {{ .Content}}
    </div>
  </div>
</section>


{{end}}