{{ $hexagons := resources.Get "css/hexagon.css" | minify }}
<link rel="stylesheet" href="{{ $hexagons.Permalink | relURL}}">

<ul id="hexGrid">
{{ range .Params }}
  {{ $arg := split . ":" }}
  {{ $title := index $arg 0 }}
  {{ $year := index $arg 1 }}
  {{ $academy := index $arg 2 }}
  {{ $url := index $arg 3 }}
  {{ $image := index $arg 4 }}
  <li class="hex">
    <div class="hexIn">
        <div class="hexLink">
            <img src="{{$image}}" alt="{{$title}}" />
            <div style="all:unset">
                <h1>
                    {{ $title}}</h1>
            </div>
            <div style="all:unset">
                <p>
                    {{ $year}}</p>
            </div>
        </div>
    </div>
  </li>
{{ end }}

</ul>